html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        .btn-model {
          border-radius: 5px;
          font-size: 0.8em;
          padding: 10px 20px;
          background-color: #3290c4;
          color: #dcf3ff;
        }

        .btn-model:hover {
          background-color: #3d9598;
          color: #dcf3ff;
        }

        #app {
            background: #232427;
            height: 100%;
            color: #fff;
        }

        .bg-white1 {
            background-color: #ffffff30;
        }

        .card {
            background-color: #00000054;
        }

        .form-control {
            border: 0px;
            background-color: #00000054;
            color: #ffffff;
        }

        .form-control:focus {
            background-color: #00000054;
            color: #ffffff;
        }

        .form-check label {
            cursor: pointer;
        }

        .form-check input {
            cursor: pointer;
        }

        .btn-link {
            color: #d3fffa;
        }

        .btn-link:hover {
            color: #ffffff;
        }

        .card-header {
            background-color: #000000;
        }

        .text-logo {
          margin-top: -2px;
          font-size: 1.5rem;
          color: #FAFAFA;
          text-shadow: 2px 2px 10px;
          cursor: pointer;
        }

        .user {
            float: right;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 10px;
            cursor: pointer;
        }

        .user:hover {
          box-shadow: 2px 2px 2px 2px;
        }

        .avatar-logo {
          margin-top: -7px;
          margin-left: -1px;
          width: 37px;
          height: 37px;

        }

        .navbar-light .navbar-nav .nav-link {
            color: rgb(255, 255, 255);
        }

        .navbar {
                padding: 0rem 0rem;
        }

        .invalid-feedback1 {
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            color: #e3342f;
        }

        .border-red{
            border: 1px solid #e3342f;
        }

        .text-logo img {
                filter: brightness(1.2);
        }

        .aaa {
            padding-left: 10px;
            filter: invert(0.85);
        }

        .session-notification {
            width: 100%;
            padding: 15px;
            background-color: #7cb57c;
        }

        .login {
            padding-left: 50px;
            padding-right: 50px;
            width: 100%;
        }

        @media(max-width: 768px){
          .aaa {
            padding-left: 0px;
          }
        }

        a[href] {
          cursor: pointer;
          color: #a2f5f9;
        }

        a[href]:hover {
          color: #29e9f2;
          text-decoration: none;
        }

        .card-login {
            background: #36393e;
        }
